<header class="header header-index">
    <div class="container">
        <nav class="navigation">
            <form id="search-form" action="" class="search">
                <input class="search__input" type="text" placeholder="Movie search" name="query" list="genre-input" />
                <datalist id="genre-input">
                    <option value="Action"></option>
                    <option value="Adventure"></option>
                    <option value="Animation"></option>
                    <option value="Comedy"></option>
                    <option value="Crime"></option>
                    <option value="Documentary"></option>
                    <option value="Drama"></option>
                    <option value="Family"></option>
                    <option value="Fantasy"></option>
                    <option value="History"></option>
                    <option value="Horror"></option>
                    <option value="Music"></option>
                    <option value="Mystery"></option>
                    <option value="Romance"></option>
                    <option value="Science Fiction"></option>
                    <option value="TV Movie"></option>
                    <option value="Thriller"></option>
                    <option value="War"></option>
                    <option value="Western"></option>
                </datalist>
                <button class="search__button" type="submit" title="Go!">
                    <svg class="search__button-icon icon-search" width="12" height="12">
                        <use href="./images/icons/sprite.svg#icon-search"></use>
                    </svg>
                </button>
            </form>

            <div class="home">
                <button class="home-button link menu__link menu__link-library current current-home">
                    HOME
                </button>
            </div>

            <div class="my-library">
                <button class="library link menu__link menu__link-library menu__library">
                    MY LIBRARY
                </button>
            </div>
        </nav>
        <div>
            <a href="" class="logo">
                <svg class="logo__svg icon-film">
                    <use href="./images/icons/sprite.svg#film"></use>
                </svg>
                <span class="logo__text">Filmoteka</span>
            </a>
        </div>
    </div>
</header>